<%- include('inc/head') %>
<%- include('inc/header') %> 
<link rel="stylesheet" type="text/css" href="./css/common_content.css">
<style type="text/css">
	.content{
		background-image: url(./img/bg.png);
		background-size: 100%;
		background-position:center;
		background-repeat: no-repeat;

	}
	.footer-imgs{
		width:400px;
		position: relative;
		display: inline-block;
	}
	.footer-imgs img{
		width:200px;
		position: absolute;
	}
	.brand-1{left:100px;top:0;}
	.brand-2{left: -10px;top:110px;}
	.brand-3{right:-10px;top:110px;}
	.wrap p{ padding:10px 10px;margin-top: 20px;line-height: 24px;font-size:16px;text-indent: 34px;color:#666;}
</style>
<div class="banner bg-color-blue">
	<div class="wrap">
		<span class="banner-text1">关于我们</span>
		<span class="banner-text2">Company</span>
	</div>
</div>
<div class="content">
	<div class="wrap">
		<p>广州掌族网络科技有限公司（掌族游戏）坐落在悠久的历史名城广州，是一家朝气蓬勃的新锐手机游戏运营公司，公司核心团队汇聚了有丰富手游发行和运营经验的专业人才。公司80%以上员工具有本科及本科以上学历，员工均来自国内互联网游戏公司，拥有丰富的游戏产品代理、运营推广经验。</p>
		<p>截止目前，公司已经发行或拟发行的游戏有《王者守卫》、《永生劫》、《暗月城堡》、《屠龙传世》、《全民捕鱼》、《封神之战》 等多款游戏,大部分均在应用市场上线或即将上线。</p>
		<p>公司在2016年将不断扩大规模，需要更多的有才之士加入我们！</p>
		<div class="tc" style="height:400px;margin-top:40px;">
			<div class="footer-imgs">
				<img class="brand-1" src="./img/about_us_01.png">
				<img class="brand-2" src="./img/about_us_02.png">
				<img class="brand-3" src="./img/about_us_03.png">
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
  function navFocus(){
        $("#about-us-nav").addClass("c");  
  }
</script>  
<%- include('inc/footer') %> 