<%- include('inc/head') %>
<%- include('inc/header') %> 
<link rel="stylesheet" type="text/css" href="./css/common_content.css">
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ECad44686cefe2cbe1ee76cf188e037f"></script>
<style type="text/css">
	.contact-list > li{padding:20px 0;line-height: 25px;}
	.contact-list li ul li{vertical-align: middle;display: inline-block;width:450px;}
	.contact-list img{vertical-align: middle;}
</style>
<div class="banner bg-color-blue">
	<div class="wrap">
		<span class="banner-text1">商务合作</span>
		<span class="banner-text2">Cooperation</span>
	</div>
</div>
<div class="content">
	<div class="wrap">
		<ul class="contact-list">
			<li>
				<img class="vm" src="./img/chat.png">
				<div class="inline-block vm ml10">
					<span>官方客服</span><br/>
					<span>QQ: 3144735471</span>
				</div>
			</li>
			<li>
				<ul>
					<li>
						<img class="vm" src="./img/chat.png">
						<div class="inline-block vm ml10">
							<span>商务合作：黄小姐</span><br/>
							<span>QQ: 2924437229</span>
						</div>
					</li>
					<li>
						<img class="vm" src="./img/jobs.png">
						<div class="inline-block vm ml10">
							<span>人才招聘</span><br/>
							<span>邮箱:hr#zhaungzugame.com(#改@)</span>
						</div>
					</li>
				</ul>
			</li>
			<li>
				<ul>
					<li>
						<img class="vm" src="./img/chat.png">
						<div class="inline-block vm ml10">
							<span>渠道合作   周先生</span><br/>
							<span>QQ: 362742664</span>
						</div>
					</li>
					<li>
						<img class="vm" src="./img/chat.png">
						<div class="inline-block vm ml10">
							<span>广州掌族网络科技有限公司</span><br/>
							<span>公司地址:广州市天河区黄埔大道中149号二楼</span>
						</div>
					</li>
				</ul>
				
			</li>
		</ul>
		<div style="height:300px;margin-top:30px;" id="map">
			
		</div>
	</div>
</div>

<script type="text/javascript">
  function navFocus(){
        $("#business-cooperation-nav").addClass("c");  
  }

</script>  
<script type="text/javascript">
	// 百度地图API功能
	var map = new BMap.Map("map");    // 创建Map实例
	var point = new BMap.Point(113.363,23.130); // 创建点坐标  
	map.centerAndZoom(point, 17);  // 初始化地图,设置中心点坐标和地图级别
	map.addControl(new BMap.MapTypeControl());   //添加地图类型控件
	map.setCurrentCity("广州");          // 设置地图显示的城市 此项是必须设置的
	map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放
	var myIcon = new BMap.Icon("http://lakatv.com/img/lkgw_share/map_logo.png", new BMap.Size(42,54));
	var marker2 = new BMap.Marker(point,{icon:myIcon}); 
	map.addOverlay(marker2);
	marker2.setAnimation(BMAP_ANIMATION_BOUNCE);
</script>
<%- include('inc/footer') %> 