<%- include('inc/head') %>
<%- include('inc/header') %> 
<link rel="stylesheet" type="text/css" href="./css/common_content.css">
<style type="text/css">
	.news-item{padding:10px 0;font-size:0;border-bottom: 1px solid #1c4a6b;}
	.news-item-thumb{max-width:300px;}
	.news-item-info{width:660px;padding:0 20px;font-size:14px;}
	.news-item-info .desc{padding:10px 0;line-height:20px;color:#666;}
	.news-item-header{padding:5px 0;border-bottom: 1px solid #ccc;}
</style>
<div class="banner bg-color-blue">
	<div class="wrap">
		<span class="banner-text1">游戏</span>
		<span class="banner-text2">Games</span>
	</div>
</div>
<div class="content">
	<div class="wrap">
		<ul class="news-list">
			<li class="news-item">
				<a href="">
					<img class="news-item-thumb vt" src="./img/ysj.png">
				</a>
				<div class="news-item-info inline-block vt">
					<div class="news-item-header">
						<span class="news-name f20">永生劫</span>
						<div class="fr">
							<a href="" target="_blank" class="color-blue mr20">
								<span class="vm" >安卓版下载</span>
								<img  class="vm" src="./img/more_arrow.png">
							</a>
							<a href="" target="_blank" class="color-blue">
								<span class="vm" >苹果版下载</span>
								<img  class="vm" src="./img/more_arrow.png">
							</a>
						</div>
					</div>
					<p class="desc">
						《永生劫》是松狮游戏工作室旗下的仙侠RPG《永恒传说》系列的第二部，故事讲述了太平镇中的一对孤儿涉足江湖却不幸卷入关乎天下苍生存亡的危难之中。魔界入侵，蜀山能否力挽狂澜？三界存亡，一切难道早有定数？佳人相随，又该执谁之手？
    该作新增穴位系统和天赋系统，使人物技能强化更加多元化。76种词缀和锻造系统，大大丰富了装备的多样性。另外还有各种萌宠的加入，使战斗不再单调。
    全新故事，多种结局，充满浓郁中国风的RPG手游——《永生劫》，开创仙侠回合制角色扮演游戏的新篇章。拯救天下苍生的重任，就交给你们了！
					</p>
				</div>
			</li>
			<li class="news-item">
				<a href="">
					<img class="news-item-thumb vt" src="./img/aycb.jpg">
				</a>
				<div class="news-item-info inline-block vt">
					<div class="news-item-header">
						<span class="news-name f20">暗月城堡</span>
						<div class="fr">
							<a href="" target="_blank" class="color-blue mr20">
								<span class="vm" >安卓版下载</span>
								<img  class="vm" src="./img/more_arrow.png">
							</a>
							<a href="" target="_blank" class="color-blue">
								<span class="vm" >苹果版下载</span>
								<img  class="vm" src="./img/more_arrow.png">
							</a>
						</div>
					</div>
					<p class="desc">
						黑夜，黑暗的象征，代表失败，灰暗，颓废，死亡，绝望的黑夜，是人们避而远及的存在 ——暗月城堡 自由度超高的冒险游戏！ 玩法极有深度的迷宫寻宝佳作！, 简单易上手的建设养成游戏, 重温经典脑补剧情的文字手游, 多兵种多技能多副本的放置类RPG游戏！ 
					</p>
				</div>
			</li>
			<li class="news-item">
				<a href="">
					<img class="news-item-thumb vt" src="./img/wzsw.jpg">
				</a>
				<div class="news-item-info inline-block vt">
					<div class="news-item-header">
						<span class="news-name f20">王者守卫</span>
						<div class="fr">
							<a href="" target="_blank" class="color-blue mr20">
								<span class="vm" >安卓版下载</span>
								<img  class="vm" src="./img/more_arrow.png">
							</a>
							<a href="" target="_blank" class="color-blue">
								<span class="vm" >苹果版下载</span>
								<img  class="vm" src="./img/more_arrow.png">
							</a>
						</div>
					</div>
					<p class="desc">
						2016首款单机策略塔防《王者守卫》震撼上线！由国内顶级研发团队强力打造的新一代策略塔防手游。独特的创意塔防玩法，玩家可通过选择不同英雄出战，快速有效的将侵略的兽人阻挡在城墙之外。目前更有登陆奖励送不停，首日登陆轻松获大量金币钻石奖励，次日登陆即有机会抽取S级英雄！ 
						《王者守卫》 现已开启大量实物奖励活动。玩游戏中大奖，挑战全新策略塔防，尽情血战！ 
					</p>
				</div>
			</li>

			</li>
			<li class="news-item">
				<a href="">
					<img class="news-item-thumb vt" src="./img/tlcs.jpg">
				</a>
				<div class="news-item-info inline-block vt">
					<div class="news-item-header">
						<span class="news-name f20">屠龙传世</span>
						<div class="fr">
							<a href="" target="_blank" class="color-blue mr20">
								<span class="vm" >安卓版下载</span>
								<img  class="vm" src="./img/more_arrow.png">
							</a>
							<a href="" target="_blank" class="color-blue">
								<span class="vm" >苹果版下载</span>
								<img  class="vm" src="./img/more_arrow.png">
							</a>
						</div>
					</div>
					<p class="desc">
						经典传奇手游《屠龙传世》重磅出击，快来点击你的激情！再战经典万人攻沙，帮你成就真男人团战梦想！酷炫技能、霸气称号，让你战力再度飙升！等级划分战场，完全比拼战力，让你热血沸腾，与战友一同厮杀。野外PK让你血腥弑杀，争夺神兵利器让你问鼎天下。
					</p>
				</div>
			</li>

		</ul>
	</div>
</div>

<script type="text/javascript">
  function navFocus(){
        $("#game-center-nav").addClass("c");  
  }
</script>  
<%- include('inc/footer') %> 