<%- include('inc/head') %>
<%- include('inc/header') %>  
<link rel="stylesheet" type="text/css" href="./css/index.css">
<link rel="stylesheet" type="text/css" href="./js/vendor/swiper/swiper.min.css">
<div class="banner">
    <div class="banner-bg"></div>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide" id="ad1"><a href="http://www.zhangzugame.com"></a></div>
        <div class="swiper-slide" id="ad2"><a href="http://www.zhangzugame.com"></a></div>
        <div class="swiper-slide" id="ad3"><a href="http://www.zhangzugame.com"></a></div>
      </div>
      <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"></div>
    </div>
</div>
<div class="content">
    <div class="wrap">
		<div class="hot-game">
		    <div class="content-list-header">
		    	<a class="f18" href="/game_center.html">热门游戏</a>
		    	<span class="color-red f12" style="font-weight:700;font-family:cuisive;">Hot</span>
		    </div>
		    <a href="http://www.zhangzugame.com"><img style="_width:200px;" src="./img/ysj.png"></a>
		</div>
		<div class="news">
			<div class="content-list-header">
				<a class="f18" href="/news.html">新闻</a>
				<span class="color-gray f12">News</span>
				<a href="/news.html" class="color-blue fr">更多>></a>
			</div>
			<ul class="new-list">
				{$news_list}
			</ul>
		</div>
		<div class="games">
			<div class="content-list-header">
				<a class="f18" href="/game_center.html">游戏</a>
				<span class="color-gray f12">Games</span>
				<a href="/game_center.html" class="color-blue fr">更多>></a>
			</div>
			<ul class="game-list">
				<li>
					<img src="./img/wzsw.png">
					<div class="inline-block">
						<span class="game-name">王者守卫</span><br/>
						<span class="platform">Android/IOS</span><br />
						<span class="app-size">45.32M</span>
					</div>
				</li>
				<li>
					<img src="./img/tl.png">
					<div class="inline-block">
						<span class="game-name">屠龙传世</span><br/>
						<span class="platform">Android/IOS</span><br />
						<span class="app-size">229.79M</span>
					</div>
				</li>
				<li>
					<img src="./img/anyue.png">
					<div class="inline-block">
						<span class="game-name">暗月城堡</span><br/>
						<span class="platform">Android/IOS</span><br />
						<span class="app-size">28.69M</span>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>


<script type="text/javascript" src="./js/vendor/swiper/swiper.min.js"></script>
<script type="text/javascript">
  function navFocus(){
        $("#index-nav").addClass("c");  
  }
  $(function(){
      var mySwiper = new Swiper ('.swiper-container', {
          loop: true,
          autoplay:5000,
          speed:1000,
          preventClicksPropagation:false,
          // If we need pagination
          pagination: '.swiper-pagination',
          onSlideChangeEnd:function(swiper){
          	swiper.activeIndex = swiper.activeIndex == 4? 1 : swiper.activeIndex;
          	console.log(swiper.activeIndex);
          	$('.banner-bg').css({'background-image':$('#ad'+swiper.activeIndex).css('background-image')});
          }

      }) 
  });
</script>  
<%- include('inc/footer') %> 
