<%- include('inc/head') %>
<%- include('inc/header') %>  
<link rel="stylesheet" type="text/css" href="./css/index.css">
<link rel="stylesheet" type="text/css" href="./js/vendor/swiper/swiper.min.css">
<div class="banner">
    <div class="banner-bg"></div>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">Slide 1</div>
        <div class="swiper-slide">Slide 2</div>
        <div class="swiper-slide">Slide 3</div>
      </div>
      <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"></div>
    </div>
</div>
<div class="content">
    <div class="wrap">
		<div class="hot-game">
		    <div class="content-list-header">
		    	<a href="">热门游戏</a>
		    	<span class="color-red f12">Hot</span>
		    </div>
		    <img style="_width:200px;" src="./img/ysj.png">
		</div>
		<div class="news">
			<div class="content-list-header">
				<a href="">新闻</a>
				<span class="color-gray f12">News</span>
				<a href="" class="color-blue fr">更多>></a>
			</div>
			<ul class="new-list">
				<li class="color-999">
					<a class="color-999" href="">新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻</a>
					<span class="create-date fr">08/03</span>
				</li>
				<li class="color-999">
					<a class="color-999" href="">新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻</a>
					<span class="create-date fr">08/03</span>
				</li>
				<li class="color-999">
					<a class="color-999" href="">新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻新闻</a>
					<span class="create-date fr">08/03</span>
				</li>
			</ul>
		</div>
		<div class="games">
			<div class="content-list-header">
				<a href="">游戏</a>
				<span class="color-gray f12">Games</span>
				<a href="" class="color-blue fr">更多>></a>
			</div>
			<ul class="game-list">
				<li>
					<img src="./img/wzsw.png">
					<div class="inline-block">
						<span class="game-name">Game Name</span><br/>
						<span class="platform">Android/IOS</span><br />
						<span class="app-size">35.82M</span>
					</div>
				</li>
				<li>
					<img src="./img/tl.png">
					<div class="inline-block">
						<span class="game-name">Game Name</span><br/>
						<span class="platform">Android/IOS</span><br />
						<span class="app-size">35.82M</span>
					</div>
				</li>
				<li>
					<img src="./img/anyue.png">
					<div class="inline-block">
						<span class="game-name">Game Name</span><br/>
						<span class="platform">Android/IOS</span><br />
						<span class="app-size">35.82M</span>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>


<script type="text/javascript" src="./js/vendor/swiper/swiper.min.js"></script>
<script type="text/javascript">
  function navFocus(){
        $("#index-nav").addClass("c");  
  }
  $(function(){
      var mySwiper = new Swiper ('.swiper-container', {
          loop: true,
          
          // If we need pagination
          pagination: '.swiper-pagination',

      }) 
  });
</script>  
<%- include('inc/footer') %> 
