<%- include('inc/head') %>
<%- include('inc/header') %> 
<link rel="stylesheet" type="text/css" href="/css/common_content.css">
<style type="text/css">
	.news-item{padding:10px 0;border-bottom: 1px solid #666;}
	.desc{padding:10px 0;color:#666;}
	.news-item-header{padding:5px 0;border-bottom: 1px solid #eee;}
</style>
<div class="banner bg-color-blue">
	<div class="wrap">
		<span class="banner-text1">新闻动态</span>
		<span class="banner-text2">News</span>
	</div>
</div>
<div class="content">
	<div class="wrap">
		<ul class="news-list">
			<!-- <li class="news-item">
				<a href="./news_detail.html">
					<div class="news-item-header">
						<span class="news-name f20">新闻标题新闻标题新闻标题新闻标题</span>
						<span class="fr">2016/08/09</span>
					</div>
					<p class="desc">
						介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍。
					</p>
				</a>
			</li> -->
			{$news_list}
		</ul>
	</div>
</div>

<script type="text/javascript">
  function navFocus(){
        $("#news-nav").addClass("c");  
  }
</script>  
<%- include('inc/footer') %> 