<%- include('inc/head') %>
<%- include('inc/header') %> 
<link rel="stylesheet" type="text/css" href="/css/common_content.css">
<link rel="stylesheet" type="text/css" href="/css/markdown.css">
<style type="text/css">
	.content > .wrap{padding:18px 38px;}
	.news-header{padding:15px 0;border-bottom: 1px solid #666;}
	.news-content{padding-top:20px;line-height: 24px;}
</style>
<div class="banner bg-color-blue">
	<div class="wrap">
		<span class="banner-text1">新闻动态</span>
		<span class="banner-text2">News</span>
	</div>
</div>
<div class="content">
	<div class="wrap">
		<div class="news-header">
			<span class="title f24 vb">{$title}</span>
			<span class="create-date fr f12 color-999 vb mt10">{$createtime}</span>
		</div>
		<div class="news-content">
			<div class="markdown-body">
				{$markdown}	
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
  function navFocus(){
        $("#news-nav").addClass("c");  
  }
</script>  
<%- include('inc/footer') %> 