*{margin:0;padding:0;outline:none;box-sizing:border-box;}
html{font-family: '微软雅黑';font-size: 1.5vw;font-size: 14px;}
a{text-decoration: none;color:#333;}
ul,li{list-style: none;}
.wrap{width:1000px;width:60%;min-width:1000px;margin:0 auto;}
.tc{text-align: center;}
.tl{text-align: left;}
.tr{text-align: right;}
.vm{vertical-align: middle;}
.vt{vertical-align: top;}
.bg-cover{background-size: cover;}
.bg-center{background-origin: center;}

.hide{display: none;}

.top{background-color:rgba(255,255,255,1);padding:20px 0;position: fixed;width: 100%;top:0;left: 0;border: 1px solid #ccc;z-index: 100;}
.top-blank{height: 100px;}
.banner{width:100%;}
.inline-block{display: inline-block;}
.logo{vertical-align: middle;}
.top-nav{margin-left: 100px;vertical-align: middle;}
.top-nav > li{display: inline-block;position: relative; margin-left: 10px;}
.top-nav > li > a{display:block;width:100px;line-height: 30px;text-align: center;font-size: 16px;}
.top-nav > li > a:hover{background-color: #fc7d17;color:#fff;}
.jobs .pop-box{position: absolute;left: 0px;top:30px;box-shadow: 1px 1px 3px #999;background-color: #fff;border-radius: 3px;}
.jobs:hover .pop-box{display: block !important;}
.jobs .pop-box li a{display:block; padding:10px 15px;}
.jobs .pop-box li:hover{background-color: #eee;}
.c{background-color: #fc7d17;color:#fff;}
.contact-us{/*height:500px;*/margin-top:100px;padding:50px 0;background-image:url(./img/bottom_bg.jpg);background-size: cover;}
footer{min-height:100px;line-height: 26px; text-align: center;padding:50px 0;color:#999;background-color: #2b2c31;}
footer a{color:#999;}
footer a:hover{text-decoration: underline;}