.banner{
	position: relative;
	background-color: #333;
	overflow: hidden;
}
.banner-bg{
	position: absolute;
	left:0;
	top:0;
	width:100%;
	height: 100%;
	z-index: 0;
	background-image:url(../img/banner.png);
	background-color: #333;
	background-size: cover;
	filter: blur(5px);
	-webkit-filter: blur(2px);
}
.swiper-container{
	width:1000px;
	height:400px;
	z-index: 1;
}
.swiper-wrapper{
	width:100%;
	height:400px;
}
.swiper-slide{
	height:400px;
	width:100%;
	/*background-color: #900;*/
	background-image:url(../img/banner.png);
	background-size: 102% 100%;
	background-position: center;
}
.swiper-slide > a{
	display: block;
	width:100%;
	height:100%;
}
#ad1{
	background-image:url(../img/banner.png);
}
#ad2{
	background-image:url(../img/ad2.jpg);
}
#ad3{
	background-image:url(../img/ad3.jpg);
}
.content{
	padding:20px 0;
}
.content .wrap > div{
	display: inline-block;
	vertical-align: top;
}
.content .wrap{
	font-size:0;
}
.content .hot-game{
	width:350px;
	font-size:14px;
}
.content .news{
	width:400px;
	padding-right:40px;
	font-size:14px;
}
.content .games{
	width:250px;
	font-size:14px;
}
.new-list{
	margin-top: 30px;
}
.new-list li a{
	display: inline-block;
	width:300px;
	line-height: 20px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.content-list-header{
	padding:10px 0;
}
.game-list > li{
	margin:5px 0;
}
.game-list > li > div{
	margin-left: 10px;
	color:#999;
}
.game-list > li > div > span{
	line-height: 14px;
}
.game-list .platform,.game-list .app-size{
	font-size:12px;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    border-radius: 0;
   	width:30px;
   	height: 5px;
   	background-color: #fff;
}
